<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9c46a712ee.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/login-styles.css">
    <title>Login</title>
</head>
<body>
    <header>
        <div class="main-header-top-bar">
            <div class="logo" >
                <a href="./home.html"><img src="../public/images/logo-mercado-liebre.svg" alt="logo"></a>
            </div>
            <div class="navigation-tablet">
                <form action="" method="post" class="nav-form">
            <div class="navigation">
            <input type="text" class="nav-bar" placeholder="Buscar productos, marcas y más"><i class="fa-solid fa-magnifying-glass"></i></input>
            </div>
                </form>
        </div>
            <h2 class="dolar-hand">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de crédito</h2>
        </div>

            <h2 class="dolar-hand show-phone">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de crédito</h2>

        <nav class="main-navbar">
        <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <br>
        <ul>
            <li><a href="register.html">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
            <li><a href="login.html">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
            <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
        </ul>
        </nav>


        <p class="burguer"><i class="fas fa-bars"></i></p>
    </header>
    <main>
        <form class="container" action="" method="post">
            <div class="form-container">
                <input class="form" type="text" placeholder="Nombre de usuario">
                <span class="feedback"></span>
            </div>
            <div class="form-container">
                <input class="form" type="password" placeholder="Contraseña">
                <span class="feedback"></span>
            </div>
            <div class="button-holders">
                <button class="send-button" type="submit"><div class="a-container"><a href="home.html">Enviar</a></div></button>
            </div>
        </form>
    </main>
    <footer>
        <div class="footer-cp">
            <div class="footer-text">
                <i class="fa-solid fa-credit-card footer-icons"></i>
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="footer-text">
                <i class="fa-solid fa-gift footer-icons"></i>
                <h2>Envío gratis desde $2.500</h2>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="footer-text">
                <i class="fa-solid fa-user-shield footer-icons"></i>
                <h2>Seguridad, de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>
        <h2 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
        
    </footer>
</body>
</html>